.main-container{
    display: grid;
    grid-template-columns: 10fr .5fr;
    padding: 0 10px;
    height: 88vh;
}

.route{
    border-bottom: 1px solid lightgray;
    height: 50px;
    /* padding: 0 15px; */
}

.route-link{
    font-size: 1.1rem;
}

.route-current:hover, .route-link:hover .route-name{
    background-color: rgba(211, 211, 211, 0.3);
    cursor: pointer;
    border-radius: 7px;
}

.route-name{
    font-size: 1.1rem;
    padding: 5px 7.5px;
}

