.main-container{
    display: grid;
    grid-template-columns: 10fr .5fr;
    min-height: 88vh;
    padding: 0 10px;
}

.route{
    border-bottom: 1px solid lightgray;
    height: 50px;
    padding: 0 20px;
}

.route-text{
    font-size: 1.1rem;
}

