.nav-container{
    padding: 7.5px 20px;
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: .9fr 3.1fr 1fr;
}
.nav-link-home{
    cursor: pointer;
    text-decoration: none;
}

.logo{
    height: 35px;
}

.app-title{
    font-size: 1.5rem;
    padding: 0 10px;
    color: var(--color);
}

.search-bar{
    background: var(--bg-secondary);
    width: 85%;
    border-radius: 8px;
    padding: 7.5px 10px;
    color: rgb(95, 99, 104);
}

.search-bar-text {
    flex-grow: 1;
    text-align: left;
    padding: 0 10px;
    color: var(--color);
}


.nav-icon-group{
    margin: 0 2.5px;
}
.profile-picture{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
}