.nav-container{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 35px;
}

.app-title{
    font-size: 1.5rem;
    padding: 0 10px;
    color: darkslategray;
}

.search-bar{
    background: #F1F3F4;
    min-width: 50%;
    border-radius: 8px;
    padding: 8px 20px;
    color: rgb(95, 99, 104);
}

.search-bar-text {
    flex-grow: 1;
    text-align: left;
    padding: 0 10px;
    color: rgba(0, 0, 0, .54);
}

.icon{
    color: rgb(95, 99, 104);
    border-radius: 50%;
    padding: 5px 5px;
    display: inline-block;
    cursor: pointer;
}

.icon:hover {
    background: rgba(60, 64, 67, .08);
}

.nav-icon-group{
    margin: 0 2.5px;
}
.profile-picture{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}