.App{
    color: var(--color);
    position: relative;
}
.grid-layout{
    display: grid;
    grid-template-columns: .9fr 4.1fr;
}
/* modal */
/* new folder modal */
.modal-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--modal-overlay);
}

.modal {
    background-color: var(--bg-primary);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: var(--modal-overlay) 0px 4px 8px 0px, var(--modal-overlay) 0px 8px 40px 0px;
}

.modal-heading{
    font-weight: 400;
}

.modal input {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: var(--color);
    background-color: var(--bg-secondary);
    width: 250px;
}

.modal input:hover {
    border: 1px solid var(--modal-input-border);
}

.modal input:focus {
    outline: 1px solid var(--medium-blue);
    border: 1px solid var(--medium-blue);
}


/* utility */
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}

.img-sm{
    height: 1rem;
    width: 1rem;
    padding: 5px 10px;
}

.border-bottom{
    border-bottom: 1px solid lightgray;
}

.icon {
    color: var(--color);
    border-radius: 50%;
    padding: 5px 5px;
    display: inline-block;
    cursor: pointer;
}

.icon:hover {
    background: var(--bg-secondary);
}