.App{
    max-height: 100vh;
    color: rgb(95, 99, 104);
    position: relative;
}
.grid-layout{
    display: grid;
    grid-template-columns: .9fr 4.1fr;
}


/* utility */
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}

.img-sm{
    height: 1rem;
    width: 1rem;
    padding: 5px 10px;
}

.border-bottom{
    border-bottom: 1px solid lightgray;
}

.icon {
    color: rgb(95, 99, 104);
    border-radius: 50%;
    padding: 5px 5px;
    display: inline-block;
    cursor: pointer;
}

.icon:hover {
    background: rgba(60, 64, 67, .08);
}